.container {
  max-width: 1200px;
  padding: 0 40px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  margin: 0 auto;

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    &__actions {
      display: flex;
      flex-flow: row nowrap;
      gap: 20px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: gray;
      bottom: 0;
    }
  }

  &__attachments {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}
