.container {
	max-width: 1200px;
	padding: 0 40px;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	margin: 0 auto;

	&__header {
		position: relative;
		display: flex;
		flex-flow: row wrap;
		gap: 30px;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0;
		box-shadow: 0px 1px 0px var(--colors-gray-500);

    app-input {
      max-width: 400px;
    }

		&__actions {
			display: flex;
			flex-flow: row wrap;
			gap: 20px;
		}
	}

	&__attachments {
		display: flex;
		flex-flow: row wrap;
		gap: 20px;
		align-items: center;
		padding: 20px 0;
		box-shadow: 0px 1px 0px var(--colors-gray-500);
	}

	&__content {
		padding: 20px 0;

		&__inner {
			width: 100%;
			word-break:break-all;
		}

		quill-editor {
			width: 100%;
		}
	}
}
