<form class="container" [formGroup]="versionForm">
	<div class="container__header">
		@if(currentMode == MODE.EDIT) {
		<app-input
			class="container__header__title"
			type="text"
			label="Title"
			placeholder="Enter new article title"
			formControlName="title"
		/>
		} @if(currentMode == MODE.PREVIEW) {
		<h1 class="container__header__title">
			{{ versionForm.controls.title.value }}
		</h1>
		}

		<div class="container__header__actions">
			@if(currentMode == MODE.EDIT) {
			<app-button icon="file" variant="outline" (click)="saveArticle()" [disabled]="versionForm.untouched">
				Save Changes
			</app-button>
			<app-button icon="cancel" variant="outline" (click)="deleteArticle()">Delete article</app-button>
			}
			@if(currentMode == MODE.PREVIEW) {
				<app-button icon="eye" variant="outline" size="medium" routerLink="versions">View other versions</app-button>
			}
			<app-button icon="edit" (click)="toggleMode()">Edit</app-button>
		</div>
	</div>
	<div class="container__meta">
		<h3>Author: </h3>
		<app-user-card [user]="author()!"/>
		<div class="container__meta__dates"></div>
	</div>
	<div class="container__attachments">
		<app-attachments-block
			[attachments]="versionForm.controls.attachments.value!"
		/>

		@if(currentMode == MODE.EDIT) {
		<app-upload-button
			type="file"
			(change)="handleFileSelection($event)"
			accept=".jpg,.jpeg,.png,.gif,.pdf"
		/>
		}
	</div>
	<div class="container__content">
		@if (currentMode == MODE.EDIT) {
		<app-wysiwyg-input
			formControlName="content"
			theme="snow"
		></app-wysiwyg-input>
		} @if(currentMode == MODE.PREVIEW) {
		<div class="container__content__inner" [innerHTML]="safeHtml"></div>
		}
	</div>
	@if (currentMode == MODE.PREVIEW) {
		<div class="container__comments">
			<app-comments-form [articleId]="articleId()"></app-comments-form>
		</div>
	}
</form>
