<div class="wrapper" id="input" [ngClass]="state()"> 
	@if (label()) {
	<label for="input-field" id="input-label" class="wrapper__label">{{ label() }}</label>
	}

	<div class="wrapper__control">
		<input
			[type]="type()"
			[value]="value"
			[placeholder]="placeholder()"
			(input)="handleInput($event)"
			(blur)="onTouched()"
			[disabled]="disabled()"
			class="wrapper__control__input"
		/>

		@if (state() !== 'default') {
		<div class="wrapper__control__icon">
			<app-icon  [icon]="state() === 'error' ? 'x-circle' : 'check'"></app-icon>
		</div>
		} @else {
		<ng-container *ngTemplateOutlet="actionIconR"></ng-container>
		}

		<ng-template #actionIconR>
			@if (actionIcon()) {
			<div class="wrapper__control__icon action">
				<app-icon [icon]="actionIcon()" />
			</div>
			}
		</ng-template>
	</div>

	@if(control()!.errors && state() !== "default") {
	<app-control-errors [errors]="control()!.errors!"></app-control-errors>
	}
</div>
