:host {
	width: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 4px;

	&__label {
		font-size: 16px;
		line-height: 24px;
		color: var(--colors-gray-900);
	}

	&__control {
		position: relative;
		display: flex;
		align-items: center;

		app-icon {
			color: var(--colors-gray-700);
		}

		&__input {
			flex: 1;
			padding: 6px 12px;
			padding-right: 40px;
			border: none;
			outline: none;
			border-radius: 4px;
			box-shadow: 0 0 0 1px var(--colors-gray-600) inset;
			background-color: var(--colors-white);
			transition: 0.2s ease-in-out;
			color: var(--colors-gray-700);
			font-size: 14px;
			line-height: 20px;

			&:hover:not(:disabled) {
				box-shadow: 0 0 0 1px var(--primary-main) inset;
			}

			&:focus-visible {
				box-shadow: 0 0 0 2px var(--primary-focus) inset;
			}
		}

		&__icon {
			position: absolute;
			right: 8px;
			display: flex;
			align-items: center;

			&.action {
				cursor: pointer;
			}
		}
	}
}

.wrapper.error {
	label {
		color: var(--danger-main)  !important;
	}

	input {
		box-shadow: 0 0 0 1px var(--danger-main) inset !important;
	}

	app-icon {
		color: var(--danger-main) !important;
	}
}

.wrapper.success {
	label {
		color: var(--success-main) !important;
	}

	input {
		box-shadow: 0 0 0 1px var(--success-main) inset !important;
	}

	app-icon {
		color: var(--success-main) !important;
	}
}

.wrapper {
	label {
		color: var(--colors-gray-600) !important;
		cursor: not-allowed;
	}

	input:disabled {
		cursor: not-allowed;
		background-color: var(--colors-gray-200);
		outline-color: var(--colors-gray-500);
		color: var(--colors-gray-700);
	}

	app-icon {
		color: var(--colors-gray-600);
	}
}
