:host {
	display: flex;
	flex-flow: column nowrap;
	gap: 10px;
	padding-top: 20px;
	box-shadow: 0 1px 0 0 var(--colors-gray-500) inset;
}

.comment__form {
	display: flex;
	flex-flow: column;
	gap: 20px;
	align-items:  center;
	padding-bottom: 20px;
	box-shadow: 0 -1px 0 0 var(--colors-gray-500) inset;

	app-button {
		width: 100%;
	}
}