.container {
	max-width: 1400px;
	padding: 0 20px;
	margin: 0 auto;
}

.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	min-height: 80vh;
	h1 {
		font-size: 50px;
		line-height: 68px;
	}

	&__actions {
		display: flex;
		flex-flow: column nowrap;
		gap: 20px;
	}
}
