.header {
  width: 100%;
  background-color: var(--colors-white);
  box-shadow: 0 1px 0 var(--primary-main);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
	padding: 10px 0;

  &__container {
    padding: 6px 0;
    display: flex;
    max-width: 1200px;

    &__nav {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 20px;
      font-size: 16px;

      a {
        transition: 0.3s color ease-in-out;
				display: inline-flex;
				flex-flow: row nowrap;
				gap: 10px;
				align-items: center;

        &.active {
          color: var(--primary-main);
        }
      }
    }
  }
}
