<div class="container">
	<form class="form" [formGroup]="articleForm">
		<h1>Create new article form</h1>
		<app-input
    label="Title"
    formControlName="title"
    inputType="text"
		placeholder="Enter article title"
    icon="letter"
  />
	<app-select
    label="Workspace"
		displayField="name"
		valueField="id"
		[options]="workspaces()!"
    formControlName="workspaceId"
    inputType="text"
		placeholder="Enter article title"
    icon="letter"
  />
		 <app-wysiwyg-input theme="snow" label="Content" formControlName="content"></app-wysiwyg-input>
		<div class="form__attachments">
			<app-attachments-block
				[attachments]="articleForm.controls.attachments.value!"
			/>
			<app-upload-button
			(change)="handleFileSelection($event)"
			accept=".jpg,.jpeg,.png,.gif,.pdf"
		/>
		</div>
		
		<app-button (click)="handleFormSubmit()">Post new article</app-button>
	</form>
</div>
