<div class="container">
	<form class="form" [formGroup]="articleForm" (ngSubmit)="handleFormSubmit()">
		<h1>Create new article form</h1>
		<app-input
    label="Title"
    formControlName="title"
    inputType="text"
		placeholder="Enter article title"
    icon="letter"
  ></app-input>
		<quill-editor formControlName="content" theme="snow"></quill-editor>
		<div class="form__attachments">
			<app-attachments-block
				[attachments]="articleForm.controls.attachments.value!"
			/>
		</div>
		<app-upload-button
			type="file"
			(change)="handleFileSelection($event)"
			accept=".jpg,.jpeg,.png,.gif,.pdf"
		/>
		<app-button type="ngSubmit">Post new article</app-button>
	</form>
</div>
