<div class="container">
	<form class="form" [formGroup]="articleForm" (ngSubmit)="handleFormSubmit()">
		<h2>Create new article form</h2>
		<input placeholder="Title" formControlName="title" />
		<quill-editor formControlName="content" theme="snow"></quill-editor>
		<h3>Attachments:</h3>
		<div class="form__attachments">
			<app-attachments-block [attachments]="articleForm.controls.attachments.value!"/>
		</div>
		<input
			type="file"
			(change)="handleFileSelection($event)"
			accept=".jpg,.jpeg,.png,.gif,.pdf"
		/>
		<button type="ngSubmit">Post new article</button>
	</form>
</div>
