.container {
  display: flex;
  align-content: start;
  flex-flow: column;
  max-width: 1200px;
  padding: 0 20px;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;

  quill-editor {
    margin-bottom: 20px;
  }

  &__attachments {
    display: flex;
    gap: 20px;
  }
}

