.container {
  margin: 0 auto;
  display: flex;
  max-width: 1200px;
  padding: 0px 40px;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  gap: 20px;

	form {
		width: 100%;
		padding: 15px 0px;
		box-shadow: 0 1px 0 var(--colors-gray-500);

		app-select {
			max-width: 200px;
		}
	}
}

.empty {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 40dvh;
	width: 100%;
	
	&__content {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}
}