.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	padding: 0 20px;

	display: flex;
	flex-flow: column nowrap;
	gap: 20px;

	&__header {
		padding: 10px 0;
		box-shadow: 0 1px 0 var(--colors-gray-500);
	}
}

.empty {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 60dvh;
	text-align: center;
}

.card {
	cursor: pointer;
	padding: 10px;
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	border-radius: 6px;
	background-color: var(--colors-white);
	box-shadow: 0 0 0 1px var(--primary-main);

	.latest-label {
		display: inline-flex;
		flex-flow: row nowrap;
		gap: 4px;
		align-items: center;
		color: var(--success-main);
		font-size: 16px;
		line-height: 20px;
	}

	&__title {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	&__dates {
		display: flex;
		flex-flow: row wrap;
		gap: 20px;
		justify-content: start;

		&__update {
			color: var(--colors-gray-700);
		}
	}

	&:hover::after {
		content: "";
		width: 100%;
		height: 100%;
		background-color: var(--colors-gray-500);
		opacity: 0.2;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 10px;
	}
}