:host {
	width: 100%;
}

.card {
	cursor: pointer;
	padding: 10px;
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	border-radius: 8px;
	background-color: var(--colors-white);
	box-shadow: 0px 0px 2px var(--primary-main);

	&__dates {
		display: flex;
		flex-flow: row nowrap;
		gap: 20px;
		justify-content: start;

		&__update {
			color: var(--colors-gray-700);
		}
	}

	&:hover::after {
		content: "";
		width: 100%;
		height: 100%;
		background-color: var(--colors-gray-500);
		opacity: 0.2;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 10px;
	}
}
