.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;

	.workspace {
		&__form {
			display: flex;
			flex-flow: column nowrap;
			gap: 20px;
		}

		&__list {
			margin-top: 40px;
			display: flex;
			flex-flow: column nowrap;
			gap: 20px;

			&__card {
				box-shadow: 0 0 0 1px var(--primary-border);
				padding: 10px;
				border-radius: 6px;
				display: flex;
				justify-content: space-between;

				&__data {
					&__info {
						display: flex;
						gap: 20px;
						font-size: 20px;
						
						gap: 6px;
						width: 100%;

						&__id {
							color: var(--colors-gray-600);
						}
					}
					&__dates {
						font-size: 14px;
						display: flex;
						gap: 20px;
						color: var(--colors-gray-600);
					}
				}

				&__actions {
					display: flex;
					gap: 15px;
				}
			}
		}
	}
}
