@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xd2ain');
  src:  url('fonts/icomoon.eot?xd2ain#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xd2ain') format('truetype'),
    url('fonts/icomoon.woff?xd2ain') format('woff'),
    url('fonts/icomoon.svg?xd2ain#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:host.check-double:before {
  content: "\e928";
}
:host.check:before {
  content: "\e929";
}
:host.edit:before {
  content: "\e92a";
}
:host.check-circle:before {
  content: "\e92b";
}
:host.plus:before {
  content: "\e900";
}
:host.plus-circle:before {
  content: "\e901";
}
:host.plus-square:before {
  content: "\e902";
}
:host.inbox:before {
  content: "\e903";
}
:host.arrow-down:before {
  content: "\e904";
}
:host.arrow-left:before {
  content: "\e905";
}
:host.arrow-right:before {
  content: "\e906";
}
:host.arrow-up:before {
  content: "\e907";
}
:host.cancel:before {
  content: "\e908";
}
:host.chat:before {
  content: "\e909";
}
:host.x:before {
  content: "\e90a";
}
:host.x-circle:before {
  content: "\e90b";
}
:host.download:before {
  content: "\e90c";
}
:host.expand-down-double:before {
  content: "\e90d";
}
:host.expand-down:before {
  content: "\e90e";
}
:host.expand-left-double:before {
  content: "\e90f";
}
:host.expand-left:before {
  content: "\e910";
}
:host.expand-right-double:before {
  content: "\e911";
}
:host.expand-right:before {
  content: "\e912";
}
:host.expand-up-double:before {
  content: "\e913";
}
:host.expand-up:before {
  content: "\e914";
}
:host.export:before {
  content: "\e915";
}
:host.heart:before {
  content: "\e916";
}
:host.document:before {
  content: "\e917";
}
:host.file:before {
  content: "\e918";
}
:host.import:before {
  content: "\e919";
}
:host.info:before {
  content: "\e91a";
}
:host.link:before {
  content: "\e91b";
}
:host.letter:before {
  content: "\e91c";
}
:host.moon:before {
  content: "\e91d";
}
:host.question:before {
  content: "\e91e";
}
:host.remove:before {
  content: "\e91f";
}
:host.sort:before {
  content: "\e920";
}
:host.star:before {
  content: "\e921";
}
:host.sun:before {
  content: "\e922";
}
:host.user:before {
  content: "\e924";
}
:host.eye-closed:before {
  content: "\e925";
}
:host.eye:before {
  content: "\e926";
}
:host.world:before {
  content: "\e927";
}
