.container {
	max-width: 1200px;
	padding: 0 20px;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	margin: 0 auto;

	&__title {
		color: var(--danger-main);
		font-weight: 500;
	}

	&__header {
		position: relative;
		display: flex;
		flex-flow: row wrap;
		gap: 30px;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0;
		box-shadow: 0px 1px 0px var(--colors-gray-500);

		&__title {
			display: flex;
			align-items: center;
			gap: 8px;
		}
	}

	&__attachments {
		display: flex;
		flex-flow: row wrap;
		gap: 20px;
		align-items: center;
		padding: 20px 0;
		box-shadow: 0px 1px 0px var(--colors-gray-500);
	}

	&__content {
		padding: 20px 0;

		&__inner {
			width: 100%;
			word-break: break-all;
		}
	}
}

.empty {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 60dvh;
	text-align: center;
}