:host {
  display: flex;
  flex-flow: row wrap;
  align-items: end;
  gap: 20px;

  h2 {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

.attachments {
  display: flex;
  flex-flow: row wrap;
  gap: 10px 20px;
}

.empty {
  color: var(--colors-gray-600);
}